body{
    font-family: 'Poppins', sans-serif;
}
header{
    border-bottom: 1px solid rgba(51, 51, 51, 0.566);
}
.search{
    outline: none;
    border: none;
}
#MyPhoto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid red;
}
li{
    transition: 1.5s;
}
li:hover{
    background-color: aqua;
    transition: 1s;
}
.user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.menuLi{
    transition: 1s;
}
.menuLi:hover{
    background-color: rgba(51, 51, 51, 0.385);
    border-radius: 5px;
    color: black;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
}
.ver-gorizon{
    transition: 1s;
}
.ver-gorizon:hover{
    background-color: rgba(51, 51, 51, 0.385);
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}
.bookImg{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.bookTitls{
    height: 150px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.385);
}
.active{
    background-color: rgba(51, 51, 51, 0.385);
    border-radius: 5px;
    color: black;
    font-weight: bold;
}
.gorizontalImg{
    width: 50px;
    height: 60px;
    object-fit: cover;
}
.table-head{
    background-color: rgba(51, 51, 51, 0.385);
}
table{
    border: 1px solid rgba(51, 51, 51, 0.385);
    border-radius: 5px;
}
table td{
    padding: 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.385);
}
table tr:hover{
    background-color: rgba(51, 51, 51, 0.218);
}
